{{define "title"}}
ankerctl-ng{{if .Printer}} - {{.Printer.Name}}{{end}}
{{end}}

{{define "contents"}}
{{if .Configure}}
{{template "tabs/home.html" .}}
{{template "tabs/gcode.html" .}}
{{template "tabs/slice.html" .}}
{{template "tabs/history.html" .}}
{{template "tabs/filaments.html" .}}
{{end}}

{{template "tabs/setup.html" .}}

{{if .DebugMode}}
{{template "tabs/debug.html" .}}
{{end}}
{{end}}

{{define "menu"}}
{{if .Configure}}
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-primary nav-link{{if .Configure}} active{{end}}"
            id="home-tab" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab">
            <i class="bi-house px-1"></i>Home
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-primary nav-link"
            id="slice-tab" data-bs-toggle="pill" data-bs-target="#slice" type="button" role="tab">
            <i class="bi-box px-1"></i>Slice &amp; Build
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-primary nav-link"
            id="history-tab" data-bs-toggle="pill" data-bs-target="#history" type="button" role="tab">
            <i class="bi-clock-history px-1"></i>History
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn btn-outline-primary nav-link"
            id="filaments-tab" data-bs-toggle="pill" data-bs-target="#filaments" type="button" role="tab">
            <i class="bi-droplet-fill px-1"></i>Filaments
        </button>
    </li>
{{end}}

<li class="nav-item" role="presentation">
    <button class="btn btn-outline-primary nav-link{{if not .Configure}} active{{end}}"
        id="setup-tab" data-bs-toggle="pill" data-bs-target="#setup" type="button" role="tab">
    <i class="bi-gear-fill px-1"></i>Setup
    </button>
</li>

{{if .DebugMode}}
<li class="nav-item" role="presentation">
    <button class="btn btn-outline-primary nav-link"
        id="debug-tab" data-bs-toggle="pill" data-bs-target="#debug" type="button" role="tab">
    <i class="bi-bug-fill px-1"></i>Debug
    </button>
</li>
{{end}}
{{end}}
